<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head('Panel Docente')"></head>
<body>
  <div th:replace="/fragments/menu :: menu"></div>

  <div class="container mt-4">
    <h1>Panel Docente</h1>
    <div class="list-group mt-3">
      <a th:href="@{/gestioncomunicados/nuevo}" class="list-group-item list-group-item-action">Crear Comunicado</a>
      <a th:href="@{/gestioncomunicados/lista}" class="list-group-item list-group-item-action">Mis Comunicados</a>
      <a href="#" onclick="return false;" class="list-group-item list-group-item-action">Mi Horario (Próx.)</a>
      <a href="#" onclick="return false;" class="list-group-item list-group-item-action">Control de Asistencia (Próx.)</a>
    </div>
  </div>

  <div th:replace="/fragments/scripts :: scripts"></div>
</body>
</html>

