<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head('Panel Estudiante')"></head>
<body>
  <div th:replace="/fragments/menu :: menu"></div>

  <div class="container mt-4">
    <h1>Panel Estudiante</h1>
    <div class="list-group mt-3">
      <a th:href="@{/gestioncomunicados/bandeja}" class="list-group-item list-group-item-action">Bandeja</a>
      <a href="#" onclick="return false;" class="list-group-item list-group-item-action">Mis Notas (Próx.)</a>
      <a href="#" onclick="return false;" class="list-group-item list-group-item-action">Mi Asistencia (Próx.)</a>
    </div>
  </div>

  <div th:replace="/fragments/scripts :: scripts"></div>
</body>
</html>

